<nav class="flex flex-wrap items-center justify-between p-1 bg-teal-200">
    <img src="https://tailwindflex.com/public/favicon.ico" class="h-10 w-10" alt="ACME" width="120" />
    <div class="flex md:hidden">
        <button id="hamburger">
          <img class="toggle block" src="https://img.icons8.com/fluent-systems-regular/2x/menu-squared-2.png" width="40" height="40" />
          <img class="toggle hidden" src="https://img.icons8.com/fluent-systems-regular/2x/close-window.png" width="40" height="40" />
        </button>
    </div>
    <div
        class="toggle hidden w-full md:w-auto md:flex text-right text-bold mt-5 md:mt-0 border-t-2 border-blue-900 md:border-none">
        <a href="/theAraekhian/"
            class="block md:inline-block text-blue-900 hover:text-blue-500 px-3 py-3 border-b-2 border-blue-900 md:border-none">Home
        </a>
        <a href="/theAraekhian/lore"
            class="block md:inline-block text-blue-900 hover:text-blue-500 px-3 py-3 border-b-2 border-blue-900 md:border-none">Lore
        </a>
        <a href="/theAraekhian/lore/biology"
            class="block md:inline-block text-blue-900 hover:text-blue-500 px-3 py-3 border-b-2 border-blue-900 md:border-none">Biología
        </a>
        <a href="/theAraekhian/lore/demonology"
            class="block md:inline-block text-blue-900 hover:text-blue-500 px-3 py-3 border-b-2 border-blue-900 md:border-none">Demonology
        </a>
        <a href="/theAraekhian/lore/marks"
            class="block md:inline-block text-blue-900 hover:text-blue-500 px-3 py-3 border-b-2 border-blue-900 md:border-none">Marcas
        </a>
    
        
    </div>
    <a href="#"
    class="toggle hidden md:flex w-full md:w-auto px-4 py-2 text-right bg-teal-200 hover:bg-teal-200 text-white md:rounded">
</a>
</nav>
