---
import Title from "../../components/Title.astro";
import Header from "../../components/headers/HeaderCreatures.astro"
import BlogPreview from "../../components/cards/CardAdanics.astro";
import Layout from "../../layouts/LayoutMain.astro";
let allPost = await Astro.glob('./**/**/*md')

---
<Layout>
<Header/>
<Title title="The creatures"  subtitle=""/>
  <div class="flex flex-wrap place-content-between">
    {allPost.map((p) => <BlogPreview post={p}/>)}
  </div> 

</Layout>
