---
import Title from "../../components/Title.astro";
import BlogPreview from "../../components/cards/CardStore.astro";
import Header from "../../components/headers/HeaderStore.astro";
import Layout from "../../layouts/LayoutMain.astro";
let allPost = await Astro.glob('./items/*')

---
<Layout>
  <Header/>
  <Title title="E-commerce"  subtitle="Tienda online"/>
  <div class="flex flex-wrap">
    {allPost.map((p) => <BlogPreview post={p}/>)}
  </div>

</Layout>

