---
export interface Props {
    post: any;
}
const { post } = Astro.props;
---

<div class="p-6">
    <img class="object-cover object-center w-full mb-2 lg:h-48 md:h-36 rounded-xl" src="https://via.placeholder.com/150" alt="blog">

    <h1 class="mx-auto mb-2 text-2xl font-semibold leading-none tracking-tighter text-center text-neutral-600 lg:text-3xl">{post.frontmatter.title}</h1>
    <p class="mx-auto text-base leading-relaxed text-center text-gray-500">{post.frontmatter.subtitle}</p>
     <div class="mt-2 text-center">
        <a href={post.url} class="inline-flex items-center mt-2 font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600" title="read more"> Read More » </a>
    </div>
</div>