---
import Title from "../components/Title.astro";
import Header from "../components/headers/Header.astro";
import ButtonAdanic from "../components/navbuttons/adanicSpecies.astro";
import ButtonLore from "../components/navbuttons/lore.astro";
import Layout from "../layouts/LayoutMain.astro";
---

<Layout>
  <Header/>
  <Title title="The Araekhia"  subtitle=""/>
<div class="container text-center">

<h1>Hijos de Adán</h1>
<ButtonAdanic/>

<h2>Lore</h2>
<ButtonLore/>

</div>
</Layout>


