---
import Title from "../components/Title.astro";
import Header from "../components/headers/Header.astro";
import ButtonAdanic from "../components/navbuttons/adanicSpecies.astro";
import ButtonLore from "../components/navbuttons/lore.astro";
import Layout from "../layouts/LayoutMain.astro";
---

<Layout>
  <Header/>

  <Title title="The Araekhia"  subtitle=""/>

<div class="">

<div class="flex flex-wrap place-content-around">
<h1 class="text-4xl">Hijos de Adán</h1>
<ButtonAdanic/>
</div>


<div class="flex flex-wrap place-content-around">
<h2 class="text-4xl">Lore</h2>
<ButtonLore/>
</div>
</div> 

</Layout>


