<div class="container mx-auto flex justify-center p-3 flex-wrap place-content-around">
    <a class="bg-bg font-bold text-center text-sm border-2 border-black rounded-md shadow-yellow py-2 px-1  hover:bg-yellow-300 focus:outline-none bg-yellow"
        href="/araekh/creatures/adanics/arpias">Arpías
    </a>
    <a class="bg-bg font-bold text-center text-sm border-2 border-black rounded-md shadow-blue-300 py-2 px-1 ml-2 hover:bg-blue-300 focus:outline-none "
        href="/araekh/creatures/adanics/demons">Demonios
    </a>
    <a class="bg-bg font-bold text-center text-sm border-2 border-black rounded-md shadow-purple-300 py-2 px-1 ml-2 hover:bg-purple-300 focus:outline-none "
        href="/araekh/creatures/adanics/faerys">Faerys
    </a>
    <a class="bg-bg font-bold text-center text-sm border-2 border-black rounded-md shadow-emerald-300 py-2 px-1 ml-2 hover:bg-emerald-300 focus:outline-none "
        href="/araekh/creatures/adanics/garudas">Garudas
    </a>
    <a class="bg-bg font-bold text-center text-sm border-2 border-black rounded-md shadow-yellow py-2 px-1  ml-2 hover:bg-yellow-300 focus:outline-none bg-yellow"
        href="/araekh/creatures/adanics/human">Humanos
    </a>
    <a class="bg-bg font-bold text-center text-sm border-2 border-black rounded-md shadow-blue-300 py-2 px-1 ml-2 hover:bg-blue-300 focus:outline-none "
        href="/araekh/creatures/adanics/naegas">Naegas
    </a>
    <a class="bg-bg font-bold text-center text-sm border-2 border-black rounded-md shadow-purple-300 py-2 px-1 ml-2 hover:bg-purple-300 focus:outline-none "
        href="/araekh/creatures/adanics/skinwalker">Skinwalkers
    </a>
    <a class="bg-bg font-bold text-center text-sm border-2 border-black rounded-md shadow-emerald-300 py-2 px-1 ml-2 hover:bg-emerald-300 focus:outline-none "
        href="/araekh/creatures/adanics/vampires">Vampiros
    </a>
</div>
