<div class="container mx-auto flex justify-center p-3 flex-wrap place-content-around">
    <a class="bg-bg font-bold text-center text-sm border-2 border-black rounded-md shadow-yellow py-2 px-2  hover:bg-yellow-300 focus:outline-none bg-yellow"
        href="/araekh/creatures/adanics">Hijos de Adán
    </a>
    <a class="bg-bg font-bold text-center text-sm border-2 border-black rounded-md shadow-blue-300 py-2 px-2 ml-5 hover:bg-blue-300 focus:outline-none "
        href="/araekh/creatures/animals">Animales
    </a>
    <a class="bg-bg font-bold text-center text-sm border-2 border-black rounded-md shadow-purple-300 py-2 px-2 ml-5 hover:bg-purple-300 focus:outline-none "
        href="/araekh/creatures/entities">Entitades
    </a>
    <a class="bg-bg font-bold text-center text-sm border-2 border-black rounded-md shadow-emerald-300 py-2 px-2 ml-5 hover:bg-emerald-300 focus:outline-none "
        href="/araekh/creatures/horrors">Horrores
    </a>
    
</div>
