<div class="container mx-auto flex justify-center p-3">
    <a class="bg-bg font-bold text-center text-sm border-2 border-black rounded-md shadow-yellow py-2 px-2  hover:bg-yellow-300 focus:outline-none bg-yellow"
        href="/theAraekhian/lore/biology">Biología
    </a>
    <a class="bg-bg font-bold text-center text-sm border-2 border-black rounded-md shadow-blue-300 py-2 px-2 ml-5 hover:bg-blue-300 focus:outline-none "
        href="/theAraekhian/lore/demonology">Demonologia
    </a>
    <a class="bg-bg font-bold text-center text-sm border-2 border-black rounded-md shadow-purple-300 py-2 px-2 ml-5 hover:bg-purple-300 focus:outline-none "
        href="/theAraekhian/lore/marks">Marcas
    </a>
    
</div>
